<footer class="footer pagewidth">

  <div class="grid">
    <div class="grid-item xlarge--one-third xlarge--text-left">
      Built and maintained by <a href="http://www.github.com/gsa">GSA</a>.
    </div>
    <div class="grid-item xlarge--one-third">
      <a href="https://twitter.com/usgsa" class="twitter-link"><span class="under">Follow us</span> <i class="icon-twitter"></i></a>
    </div>
    <div class="grid-item xlarge--one-third xlarge--text-right">
      Want to contribute? <a href="http://github.com/GSA">Join us on GitHub.</a>
    </div>
  </div>

</footer>
