<footer class="footer pagewidth">

  <div class="grid">
    <div class="grid-item xlarge--one-third xlarge--text-left">
      Built and maintained by <a href="http://18f.github.io">18F</a>.
    </div>
    <div class="grid-item xlarge--one-third">
      <a href="https://twitter.com/18F" class="twitter-link"><span class="under">Follow us</span> <i class="icon-twitter"></i></a>
    </div>
    <div class="grid-item xlarge--one-third xlarge--text-right">
      Want to contribute? <a href="http://github.com/18f">Join us on GitHub.</a>
    </div>
  </div>

</footer>
