        <div class="wrap">

            <section class="footer-links">
                <ul class="footer-links_primary cf">
                    <li><a href="https://github.com/GSA/gsa.github.io">Edit this site</a>
                    </li>
                </ul>
                <ul class="footer-links_secondary cf">
                    <li>
                        <a href="https://groups.google.com/forum/#!forum/gsa-data">Contact us</a>
                    </li>
                    <li>
                        <a href="http://www.gsa.gov/portal/content/105311">Work here</a>
                    </li>
                </ul>
            </section>

            <section class="footer-oss">
                <h4>Open Source</h4>
                <p>
                    As a work of the United States Government, source code released by the GSA is in the public
                    domain by default within the United States.
                </p>
                <!-- <a class="call-to-action__arrow"
                   href="/source-code-policy/">
                    View our full source code policy.
                </a> -->
            </section>

        </div>
