<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>GSA Digital Innovation Hack-a-thon - Fall Edition</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="stylesheets/lightbox.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

  <body>
    <div class="wrapper">
      <header>
        <h1>GSA Digital Innovation<br>Hackathon<br><small>- Fall Edition</small></h1>
        <p>Save the date and plan to join us for our second edition of our Digital Innovation Hackathon.  The first one in May was very productive and we plan to make this bigger and better than the last.</p>

        <p>Questions? Ideas? Contact the lead organizer <a href="mailto:joseph.castle@gsa.gov">Joe Castle</a>.

          <p>
            <p>
              <a class="example-image-link" href="images/hackathon1.jpg" data-lightbox="Hackathon" data-title="Joe and David discuss the day's events.">
                <img class="example-image" src="images/hackathon1.jpg" width="130" alt=""></a>

                <a class="example-image-link" href="images/hackathon2.jpg" data-lightbox="Hackathon" data-title="Joe having a laugh with the judges.">
                  <img class="example-image" src="images/hackathon2.jpg" width="130" alt=""></a>
              <br>
              <a class="example-image-link" href="images/hackathon3.jpg" data-lightbox="Hackathon" data-title="Presentation time! One team presents to the judges and audience.">
                <img class="example-image" src="images/hackathon3.jpg" width="130" alt=""></a>

                <a class="example-image-link" href="images/hackathon4.jpg" data-lightbox="Hackathon" data-title="One developer hard at work.">
                  <img class="example-image" src="images/hackathon4.jpg" width="130" alt=""></a>
              <br>
              <a class="example-image-link" href="images/hackathon5.jpg" data-lightbox="Hackathon" data-title="Collaboration is key especially when teams had just met.  SMEs help too.">
                <img class="example-image" src="images/hackathon5.jpg" width="130" alt=""></a>

              <a class="example-image-link" href="images/hackathon6.jpg" data-lightbox="Hackathon" data-title="David and Christine having a good conversation.">
                <img class="example-image" src="images/hackathon6.jpg" width="130" alt=""></a>
              <br>
              Click on an image to expand it!
            </p>
          </p>
        <script src="javascripts/lightbox-plus-jquery.js"></script>
    </body>
  </header>
